body{background-color: yellowgreen ;}

h1{ font-size: large;

font-family: Georgia, 'Times New Roman', Times, serif;}

img{ height: 300px;}

p{ font-size: larger
    color : black;}

table { border: 1px solid;}


table{ line-height: normal;}



    